{% for post in include.posts %}
      <div>
        <p class="text-sm text-gray-500">
          <time datetime="{{post.date}}">{{ post.date | date: '%B %d, %Y' }}</time>
        </p>
        <a href="{% include relative-src.html src=post.url %}" class="mt-2 block">
          <p class="text-xl font-semibold text-gray-900">
            {{ post.title }}
          </p>
          <p class="mt-3 text-base text-gray-500">
            {{ post.excerpt }}
          </p>
        </a>
        <div class="mt-3">
          <a href="{% include relative-src.html src=post.url %}" class="text-base font-semibold text-green-600 hover:text-green-500">
            Read full story
          </a>
        </div>
      </div>
{% endfor %}
