---
layout: page
---

{{ content }}

<div class="text-center text-sm">
  {% if page.previous.url %}
    <a class="prev" href="{% include relative-src.html src=page.previous.url %}">&laquo; {{ page.previous.title }}</a>
    {% if page.next.url %} | {% endif %}
  {% endif %}
  {% if page.next.url %}
    <a class="next" href="{% include relative-src.html src=page.next.url %}">{{ page.next.title }} &raquo;</a>
  {% endif %}
</div>

<div class="bg-white">
  <div class="max-w-7xl mx-auto px-4 py-12 sm:px-6 lg:py-16 lg:px-8">
    <div class="px-6 py-6 bg-green-500 rounded-lg md:py-12 md:px-12 lg:py-16 lg:px-16 xl:flex xl:items-center">
      <div class="xl:w-0 xl:flex-1">
        <span class="block text-2xl font-extrabold tracking-tight text-white sm:text-3xl">
          Want Tabby news and updates?
        </span>
        <span class="block mt-3 max-w-3xl text-lg leading-6 text-green-50">
          Sign up for our newsletter to stay up to date.
        </span>
      </div>
      <div class="mt-8 sm:w-full sm:max-w-md xl:mt-0 xl:ml-8">
        <form class="sm:flex" action="https://tabbydata.us2.list-manage.com/subscribe/post?u=aee23bb6fa44c13d71e96e246&amp;id=18d3cf679d" method="post" name="mc-embedded-subscribe-form" target="_blank">
          <label for="emailAddress" class="sr-only">Email address</label>
          <input id="emailAddress" name="EMAIL" type="email" autocomplete="email" required class="w-full border-white px-5 py-3 placeholder-gray-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-green-500 focus:ring-white rounded-md" placeholder="Enter your email">
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_aee23bb6fa44c13d71e96e246_18d3cf679d" tabindex="-1" value=""></div>
          <button type="submit" class="mt-3 w-full flex items-center justify-center px-5 py-3 border border-transparent shadow text-base font-medium rounded-md text-white bg-green-400 hover:bg-green-300 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-green-500 focus:ring-white sm:mt-0 sm:ml-3 sm:w-auto sm:flex-shrink-0">
            Notify me
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
